<section>
    <div class="container main-container">
        <ul class="gallery main-gallery">
            <li class="card">
                <img class="card__img" src="./images/libraryImgExample.jpg" alt="film preview">
                <p class="card__name">Name</p>
                <p class="card__description">Genre | Year</p>
            </li>
            <li class="card">
                <img class="card__img" src="./images/libraryImgExample.jpg" alt="film preview">
                <p class="card__name">Name</p>
                <p class="card__description">Genre | Year</p>
            </li>
            <li class="card">
                <img class="card__img" src="./images/libraryImgExample.jpg" alt="film preview">
                <p class="card__name">Name</p>
                <p class="card__description">Genre | Year</p>
            </li>
            <li class="card">
                <img class="card__img" src="./images/libraryImgExample.jpg" alt="film preview">
                <p class="card__name">Name</p>
                <p class="card__description">Genre | Year</p>
            </li>
            <li class="card">
                <img class="card__img" src="./images/libraryImgExample.jpg" alt="film preview">
                <p class="card__name">Name</p>
                <p class="card__description">Genre | Year</p>
            </li>
            <li class="card">
                <img class="card__img" src="./images/libraryImgExample.jpg" alt="film preview">
                <p class="card__name">Name</p>
                <p class="card__description">Genre | Year</p>
            </li>
            <li class="card">
                <img class="card__img" src="./images/libraryImgExample.jpg" alt="film preview">
                <p class="card__name">Name</p>
                <p class="card__description">Genre | Year</p>
            </li>
            <li class="card">
                <img class="card__img" src="./images/libraryImgExample.jpg" alt="film preview">
                <p class="card__name">Name</p>
                <p class="card__description">Genre | Year</p>
            </li>
            <li class="card">
                <img class="card__img" src="./images/libraryImgExample.jpg" alt="film preview">
                <p class="card__name">Name</p>
                <p class="card__description">Genre | Year</p>
            </li>
            <li class="card">
                <img class="card__img" src="./images/libraryImgExample.jpg" alt="film preview">
                <p class="card__name">Name</p>
                <p class="card__description">Genre | Year</p>
            </li>
            <li class="card">
                <img class="card__img" src="./images/libraryImgExample.jpg" alt="film preview">
                <p class="card__name">Name</p>
                <p class="card__description">Genre | Year</p>
            </li>
            <li class="card">
                <img class="card__img" src="./images/libraryImgExample.jpg" alt="film preview">
                <p class="card__name">Name</p>
                <p class="card__description">Genre | Year</p>
            </li>
            <li class="card">
                <img class="card__img" src="./images/libraryImgExample.jpg" alt="film preview">
                <p class="card__name">Name</p>
                <p class="card__description">Genre | Year</p>
            </li>
            <li class="card">
                <img class="card__img" src="./images/libraryImgExample.jpg" alt="film preview">
                <p class="card__name">Name</p>
                <p class="card__description">Genre | Year</p>
            </li>
            <li class="card">
                <img class="card__img" src="./images/libraryImgExample.jpg" alt="film preview">
                <p class="card__name">Name</p>
                <p class="card__description">Genre | Year</p>
            </li>
            <li class="card">
                <img class="card__img" src="./images/libraryImgExample.jpg" alt="film preview">
                <p class="card__name">Name</p>
                <p class="card__description">Genre | Year</p>
            </li>
            <li class="card">
                <img class="card__img" src="./images/libraryImgExample.jpg" alt="film preview">
                <p class="card__name">Name</p>
                <p class="card__description">Genre | Year</p>
            </li>
            <li class="card">
                <img class="card__img" src="./images/libraryImgExample.jpg" alt="film preview">
                <p class="card__name">Name</p>
                <p class="card__description">Genre | Year</p>
            </li>
            <li class="card">
                <img class="card__img" src="./images/libraryImgExample.jpg" alt="film preview">
                <p class="card__name">Name</p>
                <p class="card__description">Genre | Year</p>
            </li>
            <li class="card">
                <img class="card__img" src="./images/libraryImgExample.jpg" alt="film preview">
                <p class="card__name">Name</p>
                <p class="card__description">Genre | Year</p>
            </li>
        </ul>
    </div>
</section>