.main-container,
.library-container {
    max-width: 100%;
      padding: 60px 20px;
    /* margin: 0 auto; */
  
    @media screen and (min-width: 320px) {
      width: 320px; 
      
  
    }
    @media screen and (min-width: 768px) {
      padding-left: 32px;
      padding-right: 32px;
      width: 768px;
    }
    @media screen and (min-width: 1280px) {
      width: 1280px;
    }
    }
  
    .gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      row-gap: 20px;
  
          @media screen and (min-width: 320px) {
              width: 100%;       
          }
      
          @media screen and (min-width: 768px) {
              row-gap: 32px;
              column-gap: 32px;            
          }
      
          @media screen and (min-width: 1280px) {
              row-gap: 32px;
                  column-gap: 16px;                
          }
    }
  
    .card {
  
          @media screen and (min-width: 320px) {
              width: 100%;
      
      
          }
      
          @media screen and (min-width: 768px) {
              
              flex-basis: calc((100% - 32px) / 2);
          }
      
          @media screen and (min-width: 1280px) {
              
              flex-basis: calc((100% - 16px * 2) / 3);
          }
  
    }
  
    .card__img {
  width: 100%;
    }